.rating {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333; 
}

.stars {
    margin-right: 1rem;
}

.fa-solid.fa-star,
.fa-regular.fa-star {
    font-size: 1.2em;
    color: rgb(21, 92, 199); 
}

.fa-regular.fa-star {
    opacity: 0.5;
}
