body {
    background-color: #f2f2f2 !important;
    color: #2c3e50 !important;
    font-family: 'Arial', sans-serif;
  }
  
  .jumbotron {
    background-color: #3498db !important;
    color: #ffffff !important;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .jumbotron h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .jumbotron .lead {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  
  section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  button {
    background-color: #3498db;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Additional styling for the Skills Section */
  section:nth-child(3),
  section.skills {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .skill {
    margin-bottom: 1rem;
  }
  
  .skill p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #3498db; /* Blue background color */
    border-radius: 5px;
  }
  
  /* Additional styling for the Portfolio and Projects Section */
  section:nth-child(4),
  section.portfolio {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .project {
    margin-bottom: 1.5rem;
  }
  
  .project h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .project p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .project a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .project a:hover {
    background-color: #2980b9;
  }
  
  /* Additional styling for the Footer Section */
  .footer {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .contact,
  .social-links {
    flex: 1;
    margin-right: 2rem;
  }
  
  .contact h2,
  .social-links h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .contact p {
    font-size: 1rem;
  }
  
  .social-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  .social-icon a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icon a:hover {
    color: #3498db;
  }
  