<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="https://dcassetcdn.com/design_img/3336502/702188/702188_18277843_3336502_244aa8e9_image.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Shimaa Fathi</h3>
      </div>

      <div class="text-center"></div>
      <div class="text-center">
      </div>
    </div>
  </div>
</div>