nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.logo a {
    text-decoration: none;
    color: rgb(163, 2, 2);
    font-size: 24px;
    font-weight: bold;
}

.navigation-buttons {
    display: flex;
    align-items: center;
}

.navigation-buttons button {
    background-color: transparent;
    border: none;
    color: rgb(163, 2, 2);
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
    padding: 8px 12px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation-buttons button:hover {
    color: rgb(163, 2, 2);
}

.navigation-buttons button:last-child {
    position: relative;
}

.navigation-buttons button:last-child span {
    position: absolute;
    top: -2px;
    right: -7px;
}

.active-route {
    color: rgb(163, 2, 2) !important;
    font-weight: bold;
    font-size: 18px;
}
