button {
    background-color:rgb(46, 164, 79);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}