@font-face {
    font-family: Montserrat;
    src: url(../Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../Montserrat/static/Montserrat-Bold.ttf);
}
* {
    font-family: Montserrat;
}

#unl{
    text-decoration: underline;
    font-weight: normal;
}